.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background: var(--grey-300);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--grey-900);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;

  .img-container {
    background: var(--white);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;

    img {
      max-width: 90%;
      margin-top: 20px;
      width: 75px;
      height: 75px;
    }
  }

  .info {
    margin-top: 20px;

    .number {
      padding: 5px, 5px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 700;
    }

    .name {
      margin: 5px 0 10px;
      letter-spacing: 1px;
      font-size: 16px;
    }

    .type {
      padding: 5px 10px;
      border-radius: 10px;
      color: #FFF;
      font-weight: bold;
      background: green;
    }
  }
}
